@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Standardwerte für das helle Theme (CSS-Variablen) */
:root {
  --bgColor: white;
  --mainColor: black;
  --mainFont: "Montserrat";
}

/* Überschreibt die Variablen wenn data-theme="dark" am HTML-Element gesetzt ist */
[data-theme="dark"] {
  --bgColor: black;
  --mainColor: white;
}

body {
  background-color: var(--bgColor);
  color: var(--mainColor);
  transition: 0.3s ease;
  font-family: var(--mainFont);
}


